@using Microsoft.AspNetCore.Components.Routing
@using BlazorDual.Common
@using BlazorDual.Common.Pages
@using BlazorDual.Common.Shared

<Router AppAssembly="@typeof(BlazorDual.Wasm.Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BlazorDual.Common.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BlazorDual.Common.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
